<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <listeners>
   <listener class-name = "com.qa.ExtentReportListners.ExtentReportListners"/>
   </listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="org.leveredgeTestCases.LoginPageTest"/>
      <class name="leveredgeBasePackage.BasePageClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
